{% extends 'contact_us/site-template.html'%}
{% load static %}

{% block content %}
    {% for project in current_projects %}
        <div class="current-project">
		<h1 class="uk-text-extra-large uk-text-bold" uk-text>Current Project</h1>
            <div class="proj-details uk-card uk-card-default">
                <div class="cur-project-img uk-card-media-left">
                    <img data-src="{{project.project_main_image.url}}" alt="{{project.project_name}}" uk-img>
                </div>
                <div class="uk-card-body">
                    <h1 class="project-info-heading uk-card-title uk-text-large uk-text">{{project.project_name}}</h1>
                    <p class="project-info uk-text-large" uk-text>{{project.project_desc}}</p>
                    <a href="{{project.project_specs.url}}" target="_new"><button class="spec-btn uk-button-default uk-button-large uk-text-large" >Specifications</button></a>
                </div>
            </div>
            <div class="img-slider">
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                    <ul class="uk-slider-items uk-child-width-1-2  uk-child-width-1-3@m uk-grid" uk-height-match="target: > li > img">
                        {% for image in images%}
                        {% if image.image_project.project_name == project.project_name%}
                        <li>
                            <img class="slider-img" data-src="{{image.image.url}}" alt="{{project.ProjectImages.image_name}}" uk-img >
                        </li>

                        {% endif %}
                        {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-medium uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-medium uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>
            </div>
        </div>
    {% endfor %}

        <div class="prev-projects">
			<h1 class="uk-text-extra-large uk-text-bold" uk-text>Previous Projects</h1>
			<div class="gallery">
				<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="sets: true" uk-slider>
					<ul class="uk-slider-items uk-child-width-1-3  uk-child-width-1-2@m uk-grid" >
						{% for project in previous_projects%}
                        <li >
							<a href="">
								<div class="prev-image-cont">
                                    <img class="prev-image" src="{{project.project_main_image.url}}" alt="{{project.project_name}}" uk-img>
								    <div class="uk-position-center uk-panel"><h2 class="panel-title">{{project.project_name}}</h2></div>
                                </div>
							</a>
						</li>
                        {% endfor %}
					</ul>
					<a class="uk-position-center-left uk-position-medium uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
					<a class="uk-position-center-right uk-position-medium uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-next uk-slider-item="next"></a>
				</div>
			</div>
			<div class="modal">

			</div>
		</div>
{% endblock %}