{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to=fit=no"/>
    <meta name="description" content="LOGOS Development LTD">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/uikit.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/contact.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/designs.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/home.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/gallery.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/shared.css'%}"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <script src="{% static 'js/uikit.min.js'%}"></script>
    <script src="{% static 'js/uikit-icons.min.js'%}"></script>
</head>
<body>
    <!--Navbar-->
    <nav class="nav" uk-navbar>
        <div class="uk-navbar-left uk-margin-small-left">
            <div class="logo uk-navbar-item uk-logo">
                <a href="/home/Home.html">
                    <img data-src="{% static 'images/logo.png'%}" alt="LOGOS Homes Logo" class="logo-image" width="100" height="100" uk-img>
                    <h1 class="uk-text-bold" uk-text>LOGOS Homes</h1>
                </a>
            </div>
        </div>
        <div class="uk-navbar-right uk-margin-small-right">
            <ul class="nav-items uk-navbar-nav ">
                <li><a href="/designs/Designs.html">Plans and Designs</a></li>
                <li><a href="/gallery/Gallery.html">Gallery</a></li>
                <li class="active"><a href="/about_us/About-Us.html">About Us</a></li>
                <li><a href="/contact_us/Contact-Us.html">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    {% block content%}

    {% endblock %}
    <!--Footer-->
    <div class="footer ">
        <div class="copyright">
            <p class="uk-text uk-text-light">Copyright</p>
        </div>
        <div class="multimedia">
            <a href="facebook.com/logosdevelopment" uk-icon="facebook"></a>
            <a href="facebook.com/logosdevelopment" uk-icon="instagram"></a>
        </div>
    </div>
</body>
</html>